@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Filson Soft";
  src: url("/fonts/filson-soft.woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Filson Soft Regular";
  src: url("/fonts/FilsonSoftRegular.woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Filson Soft";
}
